<h2>重送解鎖信</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>信箱<br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "寄送解鎖信" %></div>
<% end %>

<%= render "devise/shared/links" %>
