<div class="span12">
  <div class="page-header">
    <%= render_ul_breadcrumbs %>
    <h1>法條 - <%= @rule.title %></h1>
  </div>
  <dl class="dl-horizontal">
    <dt>內容</dt>
    <dd>
      <div class="well" id="rule-content-md"><%= @rule.content %></div>
    </dd>
    <dt>標籤</dt>
    <dd>
      <div class="well">
        <% @tags.each do |tag| %>
          <span class="label label-success"><%= tag.eng_name %>: <%= tag.value %></span>
        <% end %>
        <hr>
        <a href="#rule-add-tags" role="button" class="btn btn-info" data-toggle="modal">新增標籤</a>
      </div>
    </dd>
    <dt>原始網址</dt>
    <dd><%= link_to('點擊前往', @rule.url, :target => '_blank') %></dd>
    <dt>機關</dt>
    <dd><%= link_to(@rule.org.name, org_path(@rule.org_id)) %></dd>
    <dt>公開確認</dt>
    <dd><%=t @rule.is_published %></dd>
  </dl>

  <div class="form-actions">
    <%= link_to('返回', rules_path, :class => 'btn') %>
    <%= link_to('編輯', edit_rule_path(@rule), :class => 'btn') %>
    <%= link_to('刪除', rule_path(@rule), :method => 'delete', :confirm => "確定要刪除法條 - #{@rule.title}", :class => 'btn btn-danger') %>
    <%= link_to('新增', new_rule_path, :class => 'btn btn-primary') %>
  </div>
</div>

<!-- Modal -->
<div id="rule-add-tags" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ruleAddTagsLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="ruleAddTagsLabel">法條新增標籤</h3>
  </div>
  <div class="modal-body" style="height:300px">
    <%= form_for 'add', :url => add_tags_rule_path(@rule), :html => {:id => 'add-tags-form'} do |f| %>
      <label>標籤</label>
      <%= f.text_field 'tags', :'data-provide' => 'typeahead', :style => 'width: 450px;' %>
      <%= f.submit '送出', :class => 'btn btn-primary pull-right' %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function(){
  var tag_id;
  html_text = converter.makeHtml($('#rule-content-md').text());
  $('#rule-content-md').html(html_text);
  $('#add_tags').typeahead({
    source: <%== @tags_array %>,
    updater: function(item){
      tag_id = item.replace(/\..*/, '')
      $('#add-tags-form').append('<span class="label label-info">' + item + '</span> ');
      $('#add-tags-form').append('<input name="new_tags[]" type="hidden" value="' + tag_id + '">')
    }
  });
})
</script>