<div class="span12">
  <div class="page-header">
    <%= render_ul_breadcrumbs %>
    <h1>法條 - <%= @rule.title %></h1>
  </div>
  <dl class="dl-horizontal">
    <dt>內容</dt>
    <dd>
      <div class="well" id="rule-content-md"><%= @rule.content %></div>
    </dd>
    <dt>標籤</dt>
    <dd>
      <div class="well">
        <% @tags.each do |tag| %>
          <span class="label label-success"><%= tag.eng_name %>: <%= tag.value %></span>
        <% end %>
        <hr>
        <a href="#rule-add-tags" role="button" class="btn btn-info" data-toggle="modal">新增標籤</a>
      </div>
    </dd>
    <dt>相關連結</dt>
    <dd>
      <div class="well" id="rule-links">
        <% @links.each do |link| %>
          <%= link_to(link.name || link.url, link.url, :target => '_blank') %><br>
        <% end %>
        <hr>
        <%= form_for @link, :url => add_link_rule_path(@rule), :validate => true, :remote => true do |f| %>
          <%= f.text_field :name, :placeholder => '連結名稱' %>
          <%= f.text_field :url, :placeholder => '連結網址，請加上 http://' %>
          <%= f.submit '新增', :class => 'btn' %>
          <div class="clearboth"></div>
        <% end %>
      </div>
    </dd>
    <dt>原始網址</dt>
    <dd><%= link_to('點擊前往', @rule.url, :target => '_blank') %></dd>
    <dt>機關</dt>
    <dd><%= link_to(@rule.org.name, org_path(@rule.org_id)) %></dd>
    <dt>公開確認</dt>
    <dd><%=t @rule.is_published %></dd>
  </dl>

  <div class="form-actions">
    <%= link_to('返回', rules_path, :class => 'btn') %>
    <%= link_to('編輯', edit_rule_path(@rule), :class => 'btn') %>
    <%= link_to('刪除', rule_path(@rule), :method => 'delete', :confirm => "確定要刪除法條 - #{@rule.title}", :class => 'btn btn-danger') %>
    <%= link_to('新增', new_rule_path, :class => 'btn btn-primary') %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function(){
  html_text = converter.makeHtml($('#rule-content-md').text());
  $('#rule-content-md').html(html_text);
})
</script>

<%= render 'tags_modal', :rule => @rule, :tags_array => @tags_array %>
