<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <title>福利請聽後台</title>
  <meta charset="utf-8">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head_includes %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]><script src="/assets/html5shiv.js"></script><![endif]-->
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="container-fluid nav-collapse">
          <ul class="nav">
            <li><a href="/">後台</a></li>
            <li><a href="/rules">法條</a></li>
            <li><a href="/tags">標籤</a></li>
            <li><a href="/orgs">機關</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container"><%= yield %></div>

  <%= yield :footer_includes %>
</body>
</html>